.dnb-autocomplete {
  width: 100%;
  >ul>li>a.active {
    text-decoration: none;
    color: @dropdown-link-hover-color;
    background-color: @dropdown-link-hover-bg;
  }
  &.loading input {
    background-image: url('/static/common/img/squares-loader.svg');
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: 30px;
  }
  .btn-type-select {
    color: #005172;
    background-color: #fff;
    border-color: #d7e0e4;
    &:hover, &:active { background-color: @gray-lighter; }
  }
}