.dnb-global-header-spacer {
  height: 90px;
}

.dnb-global-header.navbar{
  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }
  >.container-fluid {
    @media (min-width: @grid-float-breakpoint) {
      padding-right: 0;
    }
  }
  border-bottom: 1px solid @dnb-gray-light;
  box-shadow: 0 6px 4px rgba(210, 219, 223, .3);
  background-color: @dnb-white;
  .btn-navbar-search-dropdown { border-right: none; }
  .btn-search {
    border-color: @dnb-gray-light;
    border-left: none;
  }
  .navbar-brand {
    float: left;
    padding: 20px 0 20px 10px;
    color: @type-dark;
    font-size: 0;
    line-height: 24px;
    height: 70px;
    margin: 0;
    &.no-search { font-size: 20px; }
    @media (min-width: @grid-float-breakpoint){
      font-size: 20px;
      padding-right: 10px;
      &:not(:empty){ padding-right: 20px; }
    }
    &::before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      margin: -5px 15px 0 0;
      width: 30px;
      height: 40px;
      background: url("/static/common/img/dnb_logo.png") no-repeat center;
      background-size: contain;
    }
  }

  .dnb-autocomplete .btn-type-select {
    color: @type-dark;
    background-color: @dnb-white;
    border-color: #d7e0e4;
    &:hover, &:active { background-color: @gray-lighter; }
  }
  .open .btn-navbar-search-dropdown {
    background-color: @gray-lighter;
  }
  .navbar-nav {
    font-size: 12px;
    @media (min-width: @screen-md-min) {
      font-size: 16px;
    }
    >li {
      @media (min-width: @grid-float-breakpoint){
        &.active:not(.small-item)>a, &:not(.small-item)>a:hover {
          border-color: @dnb-teal-light;
        }
      }
      &.active>a:hover, &.active>a:focus, &.open>a {
        color: @type-dark;
      }

      &.small-item {
        .icon {font-size:16px;}
        @media (min-width: @grid-float-breakpoint){
          border-left: 1px solid @dnb-gray-light;
          width: 74px;
          text-align: center;
          &:hover {
            background-color: @bg-light-1;
          }
        }
      }
      >a {
        color: @type-dark;
        margin: 25px 15px 16px;
        padding: 0;
        border-bottom: 5px solid transparent;
        line-height: 24px;
      }

      @media (max-width: @grid-float-breakpoint-max){
        .dropdown-menu>li>a {
          color: @type-dark;
          &:hover {
            color: @type-dark !important;
          }
        }
      }
    }
  }
  .navbar-form {
    margin: 16px 0;
    border: none;
    padding: 0 10px 0 0;
    .dnb-autocomplete {width: auto;}
    .dropdown-menu {
      margin: 0;
      border-top: none;
    }
    input {
      background-color: @bg-light-1;
      border-right: none;
      .placeholder(@dnb-gray);

    }
    .btn-search {
      color: @dnb-gray;
      background-color: @bg-light-1;
      &:hover {
        background-color: @type-dark;
        border-color: @type-dark;
        color: #fff;
      }
    }
  }

  .navbar-toggle {
    margin: 18px 17px 18px 10px;
    border-radius: 4px;
    &:hover, &:focus {
      background-color: @bg-light-1;
    }
    .icon-bar {
      background-color: @type-dark;
    }
  }
}