.dnb-google-place-photos {
  div.photo {
    .make-sm-column(3);
    @padPad: floor((@grid-gutter-width / 2));
    padding-top: @padPad;
    padding-bottom: @padPad;
    cursor: pointer;
    background-clip: content-box !important;
  }
  div.disclaimer {
    margin-top: 5px;
    text-align: center;
    .text-muted();
  }
  div.view-photo {
    position: fixed;
    display: table;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(255,255,255,0.85);
    >div {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      .error {
        display: inline-block;
        font-size: 200%;
        padding: @panel-body-padding;
        border: 1px solid @panel-default-border;
        border-radius: @panel-border-radius;
        background-color: #fff;
      }
    }
  }
}