@font-base-path: '/static/common/';
@font-face {
	font-family: 'icomoon';
	src:url('@{font-base-path}fonts/icomoon.eot?-rya1ws');
	src:url('@{font-base-path}fonts/icomoon.eot?#iefix-rya1ws') format('embedded-opentype'),
		url('@{font-base-path}fonts/icomoon.woff?-rya1ws') format('woff'),
		url('@{font-base-path}fonts/icomoon.ttf?-rya1ws') format('truetype'),
		url('@{font-base-path}fonts/icomoon.svg?-rya1ws#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-globe:before {
	content: "\ec93";
}

.icon-lock2:before {
	content: "\eb4e";
}

.icon-user:before {
	content: "\e603";
}

.icon-forward:before {
	content: "\eabe";
}

.icon-flag:before {
	content: "\eca5";
}

.icon-star-full:before {
	content: "\e301";
}

.icon-star-empty:before {
	content: "\ece0";
}

.icon-share:before {
	content: "\eec5";
}

.icon-sort-arrow:before {
	content: "\ee38";
}

.icon-menu:before {
	content: "\e2af";
}

.icon-search:before {
	content: "\eb2d";
}

.icon-printer:before {
	content: "\e117";
}

.icon-coin-dollar:before {
	content: "\e0d3";
}

.icon-credit-card:before {
	content: "\e0d6";
}

.icon-arrow-right2:before {
	content: "\e3b4";
}

.icon-arrow-up:before {
	content: "\e3b5";
}

.icon-arrow-down:before {
	content: "\e3b6";
}

.icon-edit:before {
	content: "\e011";
}

.icon-notes:before {
	content: "\e0ea";
}

.icon-portfolio:before {
	content: "\e257";
}

.icon-snapshot:before {
	content: "\e944";
}

.icon-document:before {
	content: "\e99e";
}

.icon-tag:before {
	content: "\e9ee";
}

.icon-alert:before {
	content: "\ea58";
}

.icon-settings:before {
	content: "\eb5c";
}

.icon-delete:before {
	content: "\ebfb";
}

.icon-warning:before {
	content: "\ed4d";
}

.icon-add:before {
	content: "\ed5e";
}

.icon-remove:before {
	content: "\ed5f";
}

.icon-info:after {
	content: "\ed61";
}

.icon-error:before {
	content: "\ed63";
}

.icon-question:before {
	content: "\ed53";
}

.icon-closure:before {
	content: "\ed64";
}

.icon-arrow-right:before {
	content: "\edba";
}

.icon-arrow-left:before {
	content: "\edc2";
}

.icon-upward-trend:before {
	content: "\edc9";
}

.icon-downward-trend:before {
	content: "\edcd";
}

.icon-success:before {
	content: "\ee73";
}

.icon-circle:before {
	content: "\ee75";
}

.icon-spinner:before {
	content: "\e602";
}

.icon-close:before {
	content: "\e600";
}

.icon-open:before {
	content: "\e601";
}