.dnb-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 10;
  .spinner {
    height: 100%;
    background: url('/static/common/img/squares-loader.svg') no-repeat center;
  }
}