.dnb-map-single-location {
  position: relative;
  .map-overlay {
    z-index: 10;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    &.approximate {
      .alert-warning();

      bottom: 0;
      p {
        padding: 3px;
        margin: 0;
      }
    }
    &.error {
      .alert-danger();

      top: 50%;
      height: 60px;
      padding-top: 10px;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
    }
  }
}