.dnb-badge-stack {
  position: relative;
  height: 70px;
  text-align: center;
  >* {
    position: relative;
  }
  .dnb-badge {
    color: @text-color;
    font-size: 70px;
    line-height: 60px;
    &::after {
      font-family: 'DejaVu';
      content: '\002B22';
    }
    top: -3px;
  }
  .dnb-badge-label {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    line-height: 72px;
    top: -66px;
    left: -1px;
  }
}
