
.dnb-risk-gradient {
  border-radius: 3px;
  width: 90%;
  position: relative;
  top:5px;
  display:inline-block;
}

.dnb-risk-gradient-inner {
  background: @risk-severe;
  background: -moz-linear-gradient(left,  @risk-severe 0%, @risk-mod 50%, @risk-low 100%);
  background: -webkit-linear-gradient(left,  @risk-severe 0%,@risk-mod 50%,@risk-low 100%);
  background: -o-linear-gradient(left,  @risk-severe 0%,@risk-mod 50%,@risk-low 100%);
  background: -ms-linear-gradient(left,  @risk-severe 0%,@risk-mod 50%,@risk-low 100%);
  background: linear-gradient(to right,  @risk-severe 0%,@risk-mod 50%,@risk-low 100%);
  border-radius: 2px;
  height: 20px;
}

.dnb-risk-gradient-badge-container {
  position: absolute;
  top: 0;
  left: 100%;
}

.dnb-risk-gradient-badge {
  position: absolute;
  top: -8px;
  left: -15px;
  color: #333333;
  font-size: 30px;
  line-height: 30px;
  width: 30px;
}

.dnb-risk-gradient-badge::after {
  font-family: 'DejaVu';
  content: '\002B22';
}

.dnb-risk-gradient-badge-label {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  top: 1px;
  text-align: center;
  position: absolute;
  left: -2px;
  width: 30px;
  color: #fff;
  font-size: 12px;
  line-height: 30px;
}